*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    border: 2px solid black;
    padding: 5px;
    background: gray;
}
button{
    margin: 10px 50px 10px 50px;
    text-align: center;
    background: pink;
    padding:5px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    color:white;
}
button:hover{
    background: palevioletred;
    color:white;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    font-weight: bold;
}
input{
    font-size: 18px;
    color:blue;
    margin: 3px 0;
}